save-exact=true
package-lock=false
save=true
optional=true
package-import-method=hardlink
auto-install-peers=true
# If you don't want pnpm to fail on peer dependency issues, add "strict-peer-dependencies=false" to an .npmrc file at the root of your project.
strict-peer-dependencies=false